# Ignore local database and report files
/db/*
/reports/*

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
env/
venv/
ENV/

# Ignore git directory
.git/
.gitignore

# Ignore editor directories and files
.idea/
.vscode/
*.swp
*.swo